<a href="https://colab.research.google.com/github/shwetasalian9/DSA_Python/blob/main/DSA_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Array DataStructure

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

In Feb, how many dollars you spent extra compare to January?

In [1]:
expense = [2200, 2350, 2600, 2130]

In [2]:
extra_spent_on_feb = expense[1] - expense[0]
extra_spent_on_feb

150

Find out your total expense in first quarter (first three months) of the year.

In [3]:
total_expense_first_quarter = expense[0] + expense[1] + expense[2]
total_expense_first_quarter

7150