<a href="https://colab.research.google.com/github/shwetasalian9/DSA_Python/blob/main/DSA_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Array DataStructure

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

In Feb, how many dollars you spent extra compare to January?

In [ ]:
expense = [2200, 2350, 2600, 2130]

In [ ]:
extra_spent_on_feb = expense[1] - expense[0]
extra_spent_on_feb

150

Find out your total expense in first quarter (first three months) of the year.

In [ ]:
total_expense_first_quarter = expense[0] + expense[1] + expense[2]
total_expense_first_quarter

7150

Find out if you spent exactly 2000 dollars in any month

In [8]:
for exp in expense:
  if exp == 2000 :
    print("Expense spent 2000")
    break

June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [9]:
expense.append(1980)
expense

[2200, 2350, 2600, 2130, 1980]

You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [10]:
expense[3] = expense[3] - 200
expense

[2200, 2350, 2600, 1930, 1980]

You have a list of your favourite marvel super heros.

In [11]:
heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list

In [12]:
length_heros = len(heros)
length_heros

5

2. Add 'black panther' at the end of this list

In [13]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'

In [14]:
heros.remove('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [17]:
heros.insert(3, 'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.

In [18]:
heros[1] = heros[2] = 'doctor strange'
heros

['spider man',
 'doctor strange',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [21]:
dir(heros)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [25]:
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'doctor strange',
 'iron man',
 'spider man']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [28]:
n = int(input("Enter the max number:"))

odd_nos = []

for i in range(1,n) :
  if i%2 != 0 :
    odd_nos.append(i)

odd_nos

Enter the max number:30

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]